body {
  line-height: 1.5;
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  font-size: 20px;
}

.header {
  color:white;
  background-color: black;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2%;
}

.footer {
  color:white;
  background-color: black;
  width: 100%;
}
.header a {
  color: white;
}
.footer a {
  color: white;
}

code {
  font-size: 17px; 
  font-family: sans-serif
}

blockquote {
  border-left: 4px dotted #666;
  padding: 0 10px;
  color: #666;
}
